In [50]:
# lets import some required library

import pandas as pd
import numpy as np

In [51]:
# lets import the movies data 

movies = pd.read_csv('./movielens/movies.csv' , sep=',')
print(type(movies))
movies.head()

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [53]:
#We can see that this movies.csv file has three variables "movieId", "title", and "genres". Next lets check the number of rows it has 
movies.shape

(62423, 3)

In [54]:
# lets import the tags data
tags = pd.read_csv('./movielens/tags.csv' , sep=',')
print(type(tags))
tags.head()

<class 'pandas.core.frame.DataFrame'>

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [55]:
tags.shape

(1093360, 4)

SO the tag data has four column of variable and has 1093360 rows.

In [ ]:
# now lets import rating file

In [56]:
ratings = pd.read_csv('./movielens/ratings.csv' , sep=',')
print(type(ratings))
ratings.head()

<class 'pandas.core.frame.DataFrame'>

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [57]:
ratings.shape

(25000095, 4)

So ratings has 4 columns and 25000095 samples/rows

In [58]:
links = pd.read_csv('./movielens/links.csv' , sep=',')
print(type(links))
links.head()

<class 'pandas.core.frame.DataFrame'>

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [59]:
links.shape

(62423, 3)

So link has 3 columns and 62423 samples/rows

In [5]:
tag1 = tags['tag'].unique().tolist()
len(tag1)

73051

In [7]:
tag1

['classic',
 'sci-fi',
 'dark comedy',
 'great dialogue',
 "so bad it's good",
 'unreliable narrators',
 'tense',
 'artificial intelligence',
 'philosophical',
 'cliche',
 'musical',
 'horror',
 'unpredictable',
 'Oscar (Best Supporting Actress)',
 'adventure',
 'anime',
 'ecology',
 'fantasy',
 'Hayao Miyazaki',
 'Miyazaki',
 'post-apocalyptic',
 'bah',
 'Clint Eastwood',
 'music',
 'art',
 'contemporary art',
 'documentary',
 'aliens',
 'amazing photography',
 'Director: James Cameron',
 'first contact',
 'James Cameron',
 'Michael Biehn',
 'android(s)/cyborg(s)',
 'apocalypse',
 'Arnold Schwarzenegger',
 'franchise',
 'terminator',
 'time travel',
 'science fiction',
 'inferior sequel',
 'setting:London (UK) (future)',
 'unoriginal',
 'bad science',
 'good science',
 'Hans Zimmer',
 'philosophical issues',
 'space',
 'space travel',
 'time-travel',
 'visually appealing',
 'bittersweet',
 'boring',
 'conversation',
 'dialogue driven',
 'loneliness',
 'love story',
 'philosophy',
 'quirky',
 'reflective',
 'romantic',
 'thought-provoking',
 'Vienna',
 'wistful',
 'American Civil War',
 'based on book',
 'culture clash',
 'drama',
 'indians',
 'war',
 'western',
 'Buddhism',
 'China',
 'great cinematography',
 'JOURNEY OF SELF-DISCOVERY',
 'mountains',
 'traveling',
 'atmospheric',
 'based on a book',
 'Canada',
 'death',
 'Incest',
 'meditative',
 'melancholic',
 'Nudity (Full Frontal)',
 'small town',
 'wintry',
 'aging',
 'based on a play',
 'Drama',
 'friendship',
 'Morgan Freeman',
 'no action',
 'old age',
 'racism',
 'Southern theme',
 'USA',
 'emotional',
 'heartwarming',
 'Holocaust',
 'Italy',
 'love',
 'Oscar (Best Foreign Language Film)',
 'Oscar Winner',
 'sentimental',
 'survival',
 'Natalie Portman',
 'robots',
 'Star Wars',
 'abortion',
 'charlize theron',
 'medicine',
 'orphans',
 'Tobey Maguire',
 'break-up',
 'Catherine Zeta-Jones',
 'funny',
 'relationships',
 'island',
 'SURVIVAL',
 'dogs',
 'multiple storylines',
 'action',
 'George Lucas',
 'romance',
 'family',
 'mystery',
 'powerful ending',
 'twist ending',
 'adapted from:book',
 'assassin',
 'assassination',
 'History',
 'interesting',
 'Southern Europe',
 'thriller',
 'dialogue',
 'Paris',
 'adultery',
 'biographical',
 'Biography',
 'blindness',
 'disability',
 'drug addiction',
 'drugs',
 'genius',
 'great acting',
 'history',
 'music business',
 'rhythm & blues',
 'Catholicism',
 'child abuse',
 'enigmatic',
 'Gay sex',
 'mistaken identity',
 'queer',
 'soccer',
 'spanish',
 'alcoholism',
 'complex characters',
 'confusing',
 'Germany',
 'biomedical ethics',
 'euthanasia',
 'FIGHTING THE SYSTEM',
 'SUICIDE',
 'suicide attempt',
 'terminal illness',
 'touching',
 'true story',
 'deliberate',
 'nonsense',
 'philosophycal',
 'quiet',
 'silent',
 'very little dialogue',
 'biopic',
 'character study',
 'death penalty',
 'gay',
 'journalism',
 'prison',
 'thought provoking',
 'writers',
 'based on a true story',
 'biography',
 'Joaquin Phoenix',
 'Disturbing',
 'murder mystery',
 'non-hollywood ending',
 'twist',
 'simple',
 'Straight forward',
 'strong woman',
 'WOMEN DURING WARTIME',
 'World War II',
 'cynical',
 'disturbing',
 'Nudity (Topless - Notable)',
 'Nudity (Topless)',
 'psychology',
 'epidemic',
 'husband-wife relationship',
 'science',
 'scientific research',
 'George Clooney',
 'lawyers',
 'depressing',
 'hospital',
 'marriage',
 'Jude Law',
 'road movie',
 'soundtrack',
 'alternate endings',
 'beautiful',
 'humanity',
 'quirky style',
 'solitude',
 'awkward',
 'Barcelona',
 'threesome',
 'congressman',
 'corruption',
 'mistress',
 'murder',
 'newspaper',
 'political corruption',
 'politics',
 'secrets',
 'Funny',
 'humorous',
 'nonlinear',
 'excellent script',
 'nostalgic',
 'revenge',
 'effects',
 'environmental',
 'alternate reality',
 'dystopia',
 'Oscar (Best Picture)',
 'mindfuck',
 "Alzheimer's disease",
 'Animals',
 'genetics',
 'virus',
 'children',
 'cinematography',
 'campaign manager',
 'real life',
 'Fish',
 'food',
 'Ginza',
 'Japan',
 'Michelin',
 'sushi',
 'Tokyo',
 'Tsukiji',
 'humor',
 'nudity (full frontal)',
 'sexuality',
 'static',
 'strange',
 'uncomfortable',
 'oscar (best directing)',
 'US President',
 'president; butler',
 'Ferrari',
 'Formula 1',
 'great skill',
 'interesting characters',
 'racing',
 'sports',
 'happy ending',
 'middle-aged protagonist',
 'warm',
 'captain',
 'ocean',
 'suspense',
 'disease',
 'Matthew McConaughey',
 'medical',
 'dramatic comedy',
 'sad',
 'story',
 'narration',
 'cats',
 'folk music',
 'New York City',
 'repetitive',
 'Wall Street',
 'Human Computer Interaction',
 'landscape',
 'letters',
 'meaning of life',
 'original plot',
 'repeating',
 'Afghanistan',
 'seals',
 'naration',
 'Nudity (Full Frontal - Notable)',
 'german sync',
 'matt damon',
 'Lars von Trier',
 'pornography',
 'Unexpected Ending',
 'interesting ideea',
 'original',
 'spectacle',
 'wormhole',
 'espionage',
 'Jean Dujardin',
 'bitterswee',
 'new york',
 'future',
 'time loop',
 'Tom Cruise',
 'plot holes',
 'ridiculous dialogue',
 'transformers',
 'weak story',
 'education',
 'good acting',
 'jazz',
 'motivation',
 'perfectionism',
 'psychological',
 'Ben Affleck',
 'false accusation',
 'good adaptation',
 'Infidelity',
 'meticulous',
 'Psychopathy',
 'Matt Reeves',
 'Action',
 'comic',
 'superheroes',
 'talking animals',
 'Vin Diesel',
 'counterespionage',
 'slow',
 'Law',
 'acting',
 'Brad Pitt',
 'David Ayer',
 'to much war',
 'war hero',
 'Manipulations',
 'technology',
 'mental illness',
 'surprising',
 'twisted end',
 'code breaking',
 'Computers',
 'cryptography',
 'informatics',
 'mathematics',
 'physics',
 'Stephen Hawking',
 'True story',
 'image',
 'Olga Kurylenko',
 'Improvisation',
 'mars',
 'NASA',
 'Near Future',
 'predictible',
 'scientific',
 'Space',
 'Survival Instinct',
 'adoption',
 'Oscar Nominee: Best Picture',
 'dreamlike',
 'Fantasy',
 'imagination',
 'surreal',
 'surrealism',
 'truth vs. fantasy',
 'gay romance',
 'space adventure',
 'overcoming obstacles',
 'teamwork',
 'Coen Brothers',
 'witty',
 'smart',
 'Tom Hanks',
 '4th wall',
 'crude language',
 'parody',
 'soulless',
 'cult film',
 'unintentional comedy',
 'dark',
 'missing children',
 'torture',
 'Ewan McGregor',
 'Jar Jar Binks',
 'AI',
 'karate',
 'inspiring',
 'purpose in life',
 'summer',
 'ambush',
 'England',
 'Romans',
 'violent',
 'television',
 'Michael Moore',
 'propaganda',
 'metafiction',
 'Christopher Nolan',
 'turing test',
 'impressive visuals',
 'magic',
 'tang dynasty',
 'Nicolas Cage',
 'manipulation',
 'free running',
 'no story',
 'parkour',
 'running',
 'abduction',
 'bound',
 'canada',
 'dark humor',
 'gagged',
 'kidnapping',
 'montreal',
 'nightmares',
 'small cast',
 'twisted',
 'bad ending',
 'Nudity (Topless - Brief)',
 'Oscar (Best Actor)',
 'Oscar (Best Actress)',
 'want to see again',
 'Sick',
 'animation',
 'big budget',
 'Christian',
 'Christmas',
 'starts well but fails you in the middle till the end',
 'film noir',
 'low budget',
 'decline of civilization',
 'prophetic',
 'sex with the enemy',
 'brutal violence',
 'gun fu',
 'plot twist',
 'stylized violence',
 'TOO much violence',
 'Amazing!',
 'anti-hero',
 'better than expected',
 'Charlize Theron',
 'innovative',
 'movie to see',
 'superhero',
 'Will Smith',
 'enjoyable',
 'good laughs',
 'chick flick',
 'space program',
 'stephan king',
 'Special effects',
 'off-beat comedy',
 'Disney',
 'netflixq',
 'cult classic',
 'homoerotic subtext',
 'anti-romantic ending',
 'racist',
 'great soundtrack',
 'stylized',
 'weird',
 'Studio Ghibli',
 'black comedy',
 'comedy',
 'awesome',
 'colorful',
 'Jeff Goldblum',
 'Taika Waititi',
 'unconventional',
 'Heartbreaking',
 'Sad',
 'classic sci-fi',
 'good vs evil',
 'brilliant',
 'scary',
 'ghosts',
 'Bisexual',
 'Canadian',
 'Distopian',
 'Indy',
 'Lgbt',
 'Mystery',
 'Thomas Gibson',
 'oldie but goodie',
 'scifi cult',
 'Black comedy',
 'Quentin Tarantino',
 'violence',
 'courtroom',
 'courtroom drama',
 'group psychology',
 'Old',
 'social commentary',
 'college',
 'Geeks',
 'nerds',
 'smart comedy',
 'teen comedy',
 'dystopic future',
 'futuristic',
 'genetic selection',
 'intelligent',
 'Uma Thurman',
 'underdog',
 'Jim Carrey',
 'poignant',
 'reality TV',
 'Bisexuality',
 'Great soundtrack',
 'Historic',
 'Sexy',
 'conspiracy',
 'cover up',
 'political',
 'satire',
 'unique',
 'crude humor',
 'sexual',
 'stupid',
 'coming of age',
 'coming-of-age',
 'great music',
 'John Hughes',
 'overdramatic',
 'school drama',
 'teen',
 'teen movie',
 'Bromance',
 'Comedy',
 'high school',
 'Reese Witherspoon',
 'stereotypes',
 'Teen movie',
 'menage a trois',
 'polygamy',
 'guilty pleasure',
 '1980s',
 'breaking the fourth wall',
 'charming',
 'High School',
 'rebellion',
 'complicated',
 'funny moments',
 'mean spirited',
 'tolkien',
 'cloning',
 'immortality',
 'geeks',
 'hilarious',
 'sex',
 'sex comedy',
 'steve carell',
 'Jonah Hill',
 'marijuana',
 'Quotable',
 'stoner',
 'Stoner Movie',
 'video game testers',
 'video games',
 'Underrated',
 'Coming of age',
 'Coming-Of-Age',
 'Emma Stone',
 'HIGH SCHOOL LIFE',
 'amy poehler',
 'teacher',
 'Hawaii',
 'Jason Segel',
 'Kristen Bell',
 'Mila Kunis',
 'Paul Rudd',
 'CIA',
 'father daughter relationship',
 'gritty',
 'human trafficking',
 'buddy movie',
 'silly',
 'spoof',
 'subtle humor',
 'Will Ferrell',
 'awesome soundtrack',
 'cultural references',
 'geek',
 'geeky',
 'protagonist is a teacher',
 'jason bateman',
 'Jennifer Aniston',
 'weak ending',
 'bromance',
 'Channing Tatum',
 'self-aware',
 'undercover cops',
 'election',
 'brother sister incest',
 'teacher student sex',
 'Amy Poehler',
 'Cobie Smulders',
 'Rom Com',
 'Self deprecating',
 'absurd',
 'Propaganda',
 'Absurd',
 'Cross generational',
 'Travel',
 'Workplace humor',
 'kevin hart',
 'Reverse racism',
 'will ferrel',
 'feminism',
 'Romantic comedy',
 'overcomplicated',
 'Woody Harrelson',
 'uplifting',
 'Coming of Age',
 'Friendship',
 'Outsider',
 'sibling relationship',
 'teen angst',
 'Bad Writing',
 'dinosaurs',
 'disaster',
 'predictable',
 'unrealistic',
 'annoying kid',
 'slasher',
 'detective',
 '1930s',
 '1935',
 'church',
 'cotton',
 'cotton farm',
 'debt',
 'extramarital affair',
 'farm',
 'female protagonist',
 'ku klux klan',
 'loss of husband',
 'period piece',
 'poverty',
 'rural setting',
 'nudity',
 'dance',
 'feel-good',
 'motivational',
 'terrible-acting',
 'ghost story',
 'haunted house',
 'legal thriller',
 'conspiracy theory',
 'UFO',
 'female bonding',
 'exorcism',
 'bad acting',
 'haunted-house',
 'jumpscares',
 'siblings',
 'artist',
 'con man',
 'Doppelgänger',
 'Evil Doppelgänger',
 'Loss of child',
 'Stephen King',
 'zombies',
 'breakup',
 'feminist',
 'friends',
 'girlfriends',
 'heartbreak',
 'lesbian',
 'film industry',
 'Hollywood',
 'movie industry',
 'Visual effect',
 'computers',
 'cyber-intimidation',
 'hackers',
 'hacking',
 'internet',
 'domestic violence',
 'fun',
 'kids',
 'schizophrenia',
 'sleep walking',
 'lucid dreaming',
 'Bad acting',
 'Banksy',
 'hand-held camera',
 'philosophy of art',
 'street art',
 'made me laugh',
 'parody: horror film episodes',
 'satire: plastic surgery',
 'word play',
 'Love story',
 'sport business',
 'childish',
 'sexist',
 'imprisonment',
 'multi-dimensional characters',
 'taking justice into own hands',
 'Loneliness',
 'illogical',
 'nature',
 'strong female character',
 'Comics',
 'Horror',
 'Jack the Ripper',
 'Johnny Depp',
 'serial killer',
 'Thriller',
 'Classic',
 'Kyra Sedgwick',
 'Original',
 'French music',
 'implausible',
 'Rachel McAdams',
 'Not spotting the obvious',
 'realistic action',
 'Wonderful director',
 'Bing Crosby',
 'Frank Sinatra',
 'louis armstrong',
 'remake',
 'evil-mastermind',
 'fourth-wall',
 'light',
 'spy',
 'clash of cultures',
 'film within a film',
 'life & death',
 'little dialogue',
 'Mona Achache',
 'rebirth',
 'deception',
 'illusions',
 'Harrison Ford',
 'True to the book',
 'Great Visuals',
 'Marvel Cinematic Universe',
 'boy becomes a man',
 'redemption',
 'china',
 'life philosophy',
 'mozi philosophy',
 'personal growth',
 'strong romantic subplot',
 'war strategy',
 'Adult',
 'antihero',
 'strong language',
 'punk',
 'art film',
 'Entertainment Industry',
 'K-Pop',
 'ending kinda ruined it',
 'great performances',
 'sucks',
 'Nice',
 'jason lee',
 'Kevin Smith',
 'view askew',
 'Gene Wilder',
 'Nick Frost',
 'Simon Pegg',
 'games',
 'BD-R',
 'space action',
 'hallucinatory',
 'middle school',
 'Pixar',
 'lady gaga',
 'intense',
 'courage',
 'inspirational',
 'Motivation',
 'reality',
 'willpower',
 'different',
 'persistence',
 'Post apocalyptic',
 'Bradley Cooper',
 'concept',
 'entertaining',
 'human potential',
 'screenplay',
 'smart drugs',
 'talent',
 'trying hard',
 'mathematicians',
 'Eddie Redmayne',
 'excellent acting',
 'excellent screenplay',
 'true love',
 'Intense',
 'revenge as motive',
 'hilarious comedy',
 'investigation',
 'True Story',
 'Central Intelligence Agency',
 'dvd',
 'art house',
 'love this movie',
 'scaring greatSoundtrack davidLynch angeloBadalamenti thriller',
 'Acting',
 'Dialogs',
 'Nothing',
 'Short Stories',
 'mother-son relationship',
 'cheesy',
 'cheesiness',
 'ridiculous',
 'surprise ending',
 'insanity',
 'Martin Scorsese',
 'Psychological Thriller',
 'mind bending',
 'spirit',
 'freedom',
 'hope',
 'Freedom',
 'Hope',
 'Aardman',
 'Star wars',
 'tear jerker',
 'strong female lead',
 'anime. miyazaki',
 'Tim Burton',
 'Anime',
 'Jack Black',
 'star wars',
 'Comic Book adaption',
 'Marvel',
 'masterpiece',
 'stand up',
 'VistaVision',
 'bruce willis',
 'the twists in the plot',
 'great ending',
 'supernatural',
 'morality',
 'epic',
 'historical',
 'Medieval',
 'space opera',
 'crime',
 'american history',
 'vietnam war',
 'Dance',
 'Heartwarming',
 'Biblical',
 'British',
 'british comedy',
 'controversial',
 'Monty Python',
 'Akira Kurosawa',
 'French',
 'stylish',
 'farce',
 'mockumentary',
 'no dialogue',
 'no narrative',
 'Edward D. Wood Jr.',
 "so bad it's funny",
 'long',
 'samurai',
 'toshiro mifune',
 'existentialism',
 'scifi',
 'survival horror',
 'free speech',
 'memory',
 'anti-war',
 'wilderness',
 'Toshiro Mifune',
 'deadpan',
 'hip hop',
 'lone hero',
 'buddhism',
 'clever',
 'penn jilette',
 'sad ending',
 'teller',
 'comic book',
 'author:Jane Austen',
 'comedy of manners',
 'Steve Carell',
 'norwegian',
 'saami',
 'skiing',
 'brutal',
 'incest',
 'vengeance',
 'Excellent use of dialogue',
 'intellectual',
 'ambiguous ending',
 'depression',
 'suicide',
 'Sci-fi',
 'Finnish',
 'mythology',
 'anti-authoritarian',
 'edward snowden',
 'informative',
 'nonfiction',
 'cute boys',
 'cyborgs',
 'nuclear war',
 'Suspense',
 'Adventure',
 'high fantasy',
 'wizards',
 'Scarlett Johansson',
 'fast paced action',
 '007',
 'Bond',
 'james bond',
 'Sean Connery',
 'Spy Thriller',
 'business',
 'corporate America',
 'Michael Douglas',
 'stock market',
 'US history',
 'Daniel Craig',
 'James Bond',
 'poker',
 'spies',
 '1920s',
 'F. Scott Fitzgerald',
 'Leonardo DiCaprio',
 'prostitution',
 'Stock Market',
 'fairy tale',
 'bureaucracy',
 'cerebral',
 'satirical',
 'neo-noir',
 'astronomy',
 'catastrophe',
 'natural disaster',
 'detention',
 'cyberpunk',
 'virtual reality',
 'Amazing Cinematography',
 'fascism',
 'totalitarianism',
 'H.P. Lovecraft',
 'Lovecraftian mythology',
 'Philip K. Dick',
 'teleportation',
 'alternate history',
 'author:Alan Moore',
 'Danny McBride',
 'James Franco',
 'Robert Downey Jr.',
 'satire:Hollywood insiders',
 'atmosphere',
 'steampunk',
 'stylistic',
 'good concept',
 'Saramago',
 'artistic',
 'escapism',
 'hanging',
 'Victorian era',
 'puzzle',
 'sci fi',
 'Surreal',
 'twists & turns',
 'ending twist',
 'Mental Institution',
 'reality or imagination?',
 'twisted ending',
 'Cinematography',
 'great humor',
 'great screenplay',
 'joss whedon',
 'airships',
 'Anne Hathaway',
 'Christian Bale',
 'atheism',
 'David Fincher',
 'chaotic',
 'meta',
 'awkward situations',
 'Suicide',
 ...]

In [10]:
print(tag1.value_counts())

AttributeError: 'list' object has no attribute 'value_counts'

In [6]:
tags.isnull().any()

userId       False
movieId      False
tag           True
timestamp    False
dtype: bool

In [7]:
del tags['timestamp']

In [8]:
tags

         userId  movieId                  tag
0             3      260              classic
1             3      260               sci-fi
2             4     1732          dark comedy
3             4     1732       great dialogue
4             4     7569     so bad it's good
...         ...      ...                  ...
1093355  162521    66934  Neil Patrick Harris
1093356  162521   103341     cornetto trilogy
1093357  162534   189169               comedy
1093358  162534   189169             disabled
1093359  162534   189169              robbery

[1093360 rows x 3 columns]

In [23]:
x=tags['tag'].value_counts()
print(x)

tag
sci-fi              8330
atmospheric         6516
action              5907
comedy              5702
surreal             5326
                    ...
teen sleuth            1
evil twins             1
paternity test         1
QVC                    1
cornetto triolgy       1
Name: count, Length: 73050, dtype: int64

In [37]:
maxValues = x.max(axis=0)
maxValues

8330

In [9]:
movies = pd.read_csv('./movielens/movies.csv' , sep=',')
print(type(movies))
movies.head()

<class 'pandas.core.frame.DataFrame'>

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
tags.shape

(1093360, 3)

In [25]:
tags['tag']

0                      classic
1                       sci-fi
2                  dark comedy
3               great dialogue
4             so bad it's good
                  ...
1093355    Neil Patrick Harris
1093356       cornetto trilogy
1093357                 comedy
1093358               disabled
1093359                robbery
Name: tag, Length: 1093344, dtype: object

In [11]:
tags = tags.dropna()

In [12]:
tags.shape

(1093344, 3)

In [13]:
tagscopy = tags.head(500000)

In [14]:
tagscopy.shape

(500000, 3)

In [15]:
movies.shape

(62423, 3)

In [26]:
tag_counts = tags['tag'].value_counts()
tag_counts.shape

(73050,)

In [17]:
tag_counts.max()

8330

In [18]:
ratings = pd.read_csv('./movielens/ratings.csv' , sep=',')
print(type(ratings))
ratings.head()

<class 'pandas.core.frame.DataFrame'>

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [19]:
del ratings['timestamp']

In [20]:
ratings.head()

   userId  movieId  rating
0       1      296     5.0
1       1      306     3.5
2       1      307     5.0
3       1      665     5.0
4       1      899     3.5

In [21]:
ratingcopy = ratings.head(1000000) # copy first 600000 rows into ratingcopy from rating

In [22]:
ratingcopy.columns

Index(['userId', 'movieId', 'rating'], dtype='object')

In [23]:
newdf4 = pd.merge(tagscopy, ratingcopy, on="movieId", how="inner")
newdf4.head(10)

   userId_x  movieId      tag  userId_y  rating
0         3      260  classic         2     5.0
1         3      260  classic         3     4.0
2         3      260  classic         4     3.5
3         3      260  classic         5     5.0
4         3      260  classic         6     5.0
5         3      260  classic         8     3.0
6         3      260  classic         9     4.0
7         3      260  classic        10     5.0
8         3      260  classic        12     5.0
9         3      260  classic        13     4.5

In [24]:
newdf4['tag']=newdf4['tag'].astype('category').cat.codes
newdf4['rating']=newdf4['rating'].astype('category').cat.codes
newdf4.corr()

          userId_x   movieId       tag  userId_y    rating
userId_x  1.000000  0.007926 -0.052679 -0.000645  0.017467
movieId   0.007926  1.000000 -0.009230  0.009016 -0.041709
tag      -0.052679 -0.009230  1.000000 -0.000629  0.016533
userId_y -0.000645  0.009016 -0.000629  1.000000 -0.006990
rating    0.017467 -0.041709  0.016533 -0.006990  1.000000

In [18]:
ratings.isnull().any()

userId     False
movieId    False
rating     False
dtype: bool

In [19]:
ratings.shape

(25000095, 3)

In [20]:
newdf = pd.merge(movies, ratings, on="movieId", how="inner")
newdf.head(10)

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,3.5
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,12,4.0
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,4.0
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.0
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,26,3.0

In [21]:
#corr = newdf['genres'].corr(newdf['rating'])

In [22]:
#tagsrating = tagsrating.dropna()

In [23]:
#tagsrating

In [25]:
df2

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0
...,...,...,...,...,...
25000090,209157,We (2018),Drama,119571,1.5
25000091,209159,Window of the Soul (2001),Documentary,115835,3.0
25000092,209163,Bad Poems (2018),Comedy|Drama,6964,4.5
25000093,209169,A Girl Thing (2001),(no genres listed),119571,3.0
25000094,209171,Women of Devil's Island (1962),Action|Adventure|Drama,119571,3.0

In [26]:
del df2['title']

In [27]:
df2

          movieId                                       genres  userId  rating
0               1  Adventure|Animation|Children|Comedy|Fantasy       2     3.5
1               1  Adventure|Animation|Children|Comedy|Fantasy       3     4.0
2               1  Adventure|Animation|Children|Comedy|Fantasy       4     3.0
3               1  Adventure|Animation|Children|Comedy|Fantasy       5     4.0
4               1  Adventure|Animation|Children|Comedy|Fantasy       8     4.0
...           ...                                          ...     ...     ...
25000090   209157                                        Drama  119571     1.5
25000091   209159                                  Documentary  115835     3.0
25000092   209163                                 Comedy|Drama    6964     4.5
25000093   209169                           (no genres listed)  119571     3.0
25000094   209171                       Action|Adventure|Drama  119571     3.0

[25000095 rows x 4 columns]

In [32]:
df2['genres']=df2['genres'].astype('category').cat.codes
df2['rating']=df2['rating'].astype('category').cat.codes
df2.corr()

          movieId    genres    userId    rating
movieId  1.000000 -0.052287 -0.004413 -0.009216
genres  -0.052287  1.000000 -0.000726  0.048385
userId  -0.004413 -0.000726  1.000000  0.001940
rating  -0.009216  0.048385  0.001940  1.000000